@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
}

.background { 
    width: 100%;
    height: 100vh;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0FFFBB, #2E5C4F);
    clip-path: circle(30% at 80% 90%);
}

.card_superior{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.card {
    /* position:absolute; */

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color:rgba(15, 255, 187, 0.1);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.corpo{
    padding: 200px;
}


.input {
    width: 200px;
    height: 25px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: solid 3px #0FFFBB;
    background-color:rgba(15, 255, 187, 0);
}


.div_input {
    position: relative;
    display:block;
    margin: 20px;
}

.label {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:baseline;
    transition: all 0.2s ease-in-out;
}


.div_input:hover .label,
.input:focus .label,
.label.deixar_ativo{
    top: -20px;
    left: -5px;
    opacity: 0.5;
    transform: scale(0.9);
}

.div_input:hover .input,
.input:focus{
    border-bottom: solid 5px #02E1A2;
}

.texto_label{
    display: block;
    margin-left: 5px;
    font-family: 'Rubik', sans-serif;
}

.texto {
    font-family: 'Rubik', sans-serif;
}


.btn {
    background-image: linear-gradient(#02E1A2, #0FFFBB);
    border-radius: 4px;
    color: #000000;
    font-size: 1.125rem;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    line-height: 1.2;
    display: block;
    box-sizing: border-box;
    padding: 0.9375rem;
    margin-top: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.2, 1.4);
    text-transform: uppercase;
}


.btn {
    max-width: 16.25rem;
    margin: 3.75rem auto;
}

.btn:hover,
.btn:focus {
    /* box-shadow: 1px 1px 10px rgba(0, 32, 22, 0.5); */
    background-image: linear-gradient(#13E1A2, #0FFFAB);
    text-shadow: 0.1px 0.1px 1px black;
    transform:scale3d(1.02, 1.02, 1)

}













